<div style="font-family: Arial, sans-serif; max-width: 600px; margin: auto">
  <h3>Kepada {{name}},</h3>
  <p>
    Kami menerima permintaan untuk mengubah kata sandi akun <b>Rimba</b> Anda.
  </p>
  <p>Masukkan kode OTP berikut:</p>
  <h2
    style="
      background: #00bc88;
      color: #fff;
      padding: 10px;
      text-align: center;
      border-radius: 5px;
    "
  >
    {{otp}}
  </h2>
  <p><strong>Kode OTP ini berlaku selama 30 menit.</strong></p>
  <p>Jika Anda tidak merasa meminta OTP ini, abaikan email ini.</p>
  <hr />
  <p style="color: #888; font-size: 12px">Email ini tidak dapat dibalas.</p>
</div>
